.container
  margin-top: 15px

  form
    &.form-search
      margin-bottom: 0
      border-radius: 0
      input.btn
        margin-left: 5px

.tweets-container
  border-left: 1px solid lightgray
  border-right: 1px solid lightgray

  ul.tweets
    list-style: none
    margin: 0

    > li
      padding: 0 0 10px 10px
      padding-bottom: 10px
      border-bottom: dotted 1px lightgray
      margin-bottom: 10px

      .avatar
        float: left
        text-align: center
        width: 80px
        height: 50px
        vertical-align: top
        margin-top: 5px

        > img
          border-radius: 6px

      .details
        margin: 0 20px 0 80px

        div:first-child
          font-weight: bold

      .tweet-footer
        clear: both




