extends layout.jade

block content
  h4 @#{screen_name}
  .controls
    form.form-search.well
      input.input-medium.search-query(type="text", name='tweet[track]') 
      input.btn(type='submit', value='Change Track')

  .tweets-container



